.dropdown-push-controller {
	border: 1px solid #cccccc;
	cursor: pointer;
	padding: 5px;
	position: relative;
	width: max-content;
}

.dropdown-push-controller .dropdown-arrow.left {
    border-top: 5px solid transparent;
    border-right: 8px solid #aaaaaa;
    border-bottom: 5px solid transparent;
	height: 0;
    width: 0;
    margin: auto;
    margin-left: 5px;
    transition: transform 0.5s;
}

.dropdown-push-controller .dropdown-arrow.down {
	transform: rotateZ(-90deg);
}

.dropdown-push-controller .dropdown-arrow.hidden {
	display: none;
}

.dropdown-push-controller .dropdown-label {
	display: flex;
	cursor: pointer;
}

.dropdown-push-controller .dropdown-label div {
	margin: auto;
}

.dropdown-push-controller .dropdown-options {
	background-color: white;
	left: 8px;
	max-height: 0;
	-webkit-transition: max-height 0.25s;
	-moz-transition: max-height 0.25s;
	-ms-transition: max-height 0.25s;
	transition: max-height 0.25s;
	overflow: hidden;
	position: absolute;
	width: inherit;
	z-index: 500;
}

.dropdown-push-controller .dropdown-options div {
	padding-left: 5px;
}

.dropdown-push-controller .dropdown-options.open {
	border: 1px solid #d8d8d8;
	max-height: 500px;
	-webkit-transition: max-height 0.25s;
	-moz-transition: max-height 0.25s;
	-ms-transition: max-height 0.25s;
	transition: max-height 0.25s;
}

.dropdown-push-controller .dropdown-options div:hover {
	background-color: #d4e8ff;
}

.dropdown-push-controller .dropdown-options div.expelled {
	display: none;
}

.dropdown-push-controller .dropdown-options input {
	font-size: 11px;
	width: 100px;
}
